---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <section class="sidebar">
        <div class="nav">
          <h3>Home</h3>
          <h3>Search</h3>
          <h3>Your library</h3>
        </div>

        <div class="playlister_liste">comp</div>
      </section>

      <section class="indhold">
        <h1>Good afternoon</h1>
        <section class="senest_playlister">comp</section>
        <h2>Made for Chrystal Astrid Jørgensen</h2>
        <section class="madefor">comp</section>
      </section>
    </main>
  </body>
</html>
