---
import "../styles/generelt.css";
import MainLayout from "../layouts/MainLayout.astro";
import MinePlayliste from "../components/MinePlayliste.astro";
import Madefor from "../components/Madefor.astro";
import Playliste from "../components/Playliste.astro";
import home from "../icons/home.svg";
import search from "../icons/search-icon.svg";
import like from "../img/synesgodtom.png";
---

<main>
  <MainLayout titel="Home">
    <section class="indhold">
      <h1>Good afternoon</h1>

      <section class="senest_playlister">
        <MinePlayliste titel="Liked Songs" />
        <MinePlayliste titel="Discover Weekly" />
        <MinePlayliste titel="Fall in Lo-fi Chill" />
        <MinePlayliste titel="Træning" />
        <MinePlayliste titel="VtA - Modern" />
        <MinePlayliste titel="Sing along" />
      </section>

      <h2>Made for Chrystal Astrid Jørgensen</h2>
      <section class="madefor">
        <Madefor dayli="Daily Mix 1" />
        <Madefor dayli="Daily Mix 2" />
        <Madefor dayli="Daily Mix 3" />
        <Madefor dayli="Daily Mix 4" />
      </section>
    </section>
  </MainLayout>
</main>
